{
    "pdf2zh": {
        "conda": {
            "python_version": "3.12",
            "packages": [
                "pdf2zh==1.9.11",
                "pypdf",
                "PyMuPDF",
                "flask",
                "numpy==2.2.0",
                "toml",
                "pdfminer.six==20250416"
            ]
        },
        "uv": {
            "python_version": "3.12",
            "packages": [
                "pdf2zh==1.9.11",
                "pypdf",
                "PyMuPDF",
                "flask",
                "numpy==2.2.0",
                "toml",
                "pdfminer.six==20250416"
            ]
        }
    },
    "pdf2zh_next": {
        "conda": {
            "python_version": "3.12",
            "packages": [
                "pdf2zh_next",
                "pypdf",
                "PyMuPDF",
                "flask",
                "toml"
            ]
        },
        "uv": {
            "python_version": "3.12",
            "packages": [
                "pdf2zh_next",
                "pypdf",
                "PyMuPDF",
                "flask",
                "toml"
            ]
        }
    }
}